
<div class="sign_form">
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>Реєстрація<h3>
	</div>
  <div class="panel-body">
    <p><h5>Зареєструйтесь через соціальну мережу</h5></p>
      <p>
         <button type="button" class="btn btn-primary btn-lg">Facebook</button>
         <button type="button" class="btn btn-success btn-lg">Vkontakte</button>
      </p>
    <h5>Або  за допомогою вашого email</h5>
      <p><%= render 'form' %></p>
  </div>
</div>
</div>